<a href="https://colab.research.google.com/github/eqbic/OSMI/blob/main/DataScience/ESA4/countries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Load the countries.csv directly via URL import into your panda data frame!**

In [59]:
import pandas as pd
import requests

url = "https://raw.githubusercontent.com/edlich/eternalrepo/master/DS-WAHLFACH/countries.csv"
countries_df = pd.read_csv(url)
countries_df

       Name     People     Area   BIP Currency
0   Germany   82521653   357385  3466      EUR
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

**Display some basic information as rows, columns and some basic statistical info.**

**Show the last 4 rows of the data frame.**

In [60]:
countries_df.tail(4)

       Name     People     Area   BIP Currency
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

**Show all the row of countries who have the EURO**

In [61]:
countries_df[countries_df['Currency'] == "EUR"]

      Name    People    Area   BIP Currency
0  Germany  82521653  357385  3466      EUR
3    Italy  60501718  301338  1850      EUR

**Show only name and Currency in a new data frame**

In [62]:
name_currency_df = countries_df[['Name', 'Currency']]
name_currency_df

       Name Currency
0   Germany      EUR
1     Japan      YEN
2    Canada      CAD
3     Italy      EUR
4  Brazilia     REAL

**Show only the rows/countries that have more than 2000 BIP (it is in Milliarden USD Bruttoinlandsprodukt)**

In [63]:
countries_df[countries_df['BIP'] > 2000]

      Name     People    Area   BIP Currency
0  Germany   82521653  357385  3466      EUR
1    Japan  126045000  377835  4938      YEN

**Select all countries where with inhabitants between 50 and 150 Mio**

In [64]:
inhabitants_df = countries_df[(countries_df['People'] > 50000000) & (countries_df['People']< 150000000)]
inhabitants_df['Name']

0    Germany
1      Japan
3      Italy
Name: Name, dtype: object

**Change BIP to Bip**

In [65]:
countries_df.rename(columns={'BIP':'Bip'})

       Name     People     Area   Bip Currency
0   Germany   82521653   357385  3466      EUR
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

**Calculate the Bip sum**

In [66]:
countries_df['BIP'].sum()

13581

**Calculate the average people of all countries**

In [67]:
sum_people = countries_df['People'].sum()
number_entries = countries_df.shape[0]
average_people = sum_people / number_entries
average_people

102786293.6

**Sort by name alphabetically**

In [68]:
countries_df.sort_values('Name')

       Name     People     Area   BIP Currency
4  Brazilia  208360000  8515770  1798     REAL
2    Canada   36503097  9984670  1529      CAD
0   Germany   82521653   357385  3466      EUR
3     Italy   60501718   301338  1850      EUR
1     Japan  126045000   377835  4938      YEN

**Create a new data frame from the original where the area is changed as follows: all countries with > 1000000 get BIG and <= 1000000 get SMALL in the cell replaced!**

In [80]:
import numpy as np

new_df = countries_df.copy()
new_df['Area'] = np.where(new_df['Area'] > 1000000, 'BIG', 'SMALL')
new_df

       Name     People   Area   BIP Currency
0   Germany   82521653  SMALL  3466      EUR
1     Japan  126045000  SMALL  4938      YEN
2    Canada   36503097    BIG  1529      CAD
3     Italy   60501718  SMALL  1850      EUR
4  Brazilia  208360000    BIG  1798     REAL